/* Лоадер */
.loader {
    height: 40px;
    margin: -12px 0 0 0px;
    background: #fff;
    filter: contrast(20);
}

.loader .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 15px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}

.loader .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}

.loader .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
}

@-moz-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@-webkit-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@-o-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@-moz-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

@-webkit-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

@-o-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

.sqlEditor {
    width: 100%;
    height: 2em;
    margin-bottom: 1em;
}

.sqlButton {
    color: #333;
    background: linear-gradient(#eee, #ddd);
    border: 1px solid #222;
    border-radius: 3px;
    padding: 7px;
    margin: 5px;
    transition: .3s;
    font-family: ubuntu, sans-serif;
    font-size: 1em;
    /*width: 10%;*/
    min-width: 100px;
}

.sqlButton:active {
    background: linear-gradient(#ddd, #eee);
}

.sqlButton:hover, sqlButton:focus {
    box-shadow: 0 0 2px #222;
}

.sqlExecute {
    margin-top: 5px;;
    width: 10%;
    min-width: 100px;
}

.sqlError {
    color: red;
    transition: .5s;
    overflow: hidden;
    margin: 1em;
}

.sqlOK {
    color: green;
    transition: .5s;
    overflow: hidden;
    margin: 1em;
}

.sqlOutput {
    overflow: auto;
}

.sqlOutput table {
    width: auto;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.sqlOutput th, .sqlOutput td {
    border: 1px solid #777;
}

.sqlOutput footer {
    font-size: .8em;
    color: #222;
}
