mark {
    border-radius: 5px;
    border-bottom: 1.3px solid black;
    background-color: #ff9900;
}

.online-regex {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 90%;
    max-width: 800px;
}

.input-group {
    zoom: 1.3;
    display: table;
    border-collapse: separate;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    -webkit-writing-mode: horizontal-tb !important;
}

.input-group .form-control {
    position: relative;
    float: left;
    width: 85%;
    margin-bottom: 0;
}

.form-control .input-group-addon {
    font-size: 14px;
    line-height: 1.42857143;
}

.form-control {
    height: 34px;
    padding: 0 10px 0 10px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: table-cell;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    margin-bottom: 0;

}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    outline-offset: -2px;
}

.input-group-addon {
    height: 34px;
    font-weight: 400;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: table-cell;
}

.tests .testsYesNoTbl .testsMatchGrpTbl {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    zoom: 1.1;
}

.testsYesNoTbl td, .testsMatchGrpTbl td {
    white-space: pre-wrap;
}

.testsYesNoTbl th {
    border: none;
    text-align: left;
}

.testsMatchGrpTbl th {
    border: none;
    text-align: left;
}

.matchIcon {
    width: 5%;
}

.matchCol {
    width: 45%;
}

.nomatchIcon {
    width: 5%;
}

.nomatchCol {
    width: 45%;
}

.matchToBeFound {
    width: auto;
    color: #b2b2b2;
    opacity: 0.6;
}

.sqlError {
    color: #a94442;
    background-color: #f2dede;
}

.waiting {
    color: transparent;
    background-color: transparent;
}

.success {
    color: #0a2911;
    background-color: #98e6ab;
}

.alert-waiting {
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 14px;
    line-height: 1.42857143;
    display: none;
}
